<h1>Contáctenos</h1>

<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
  <fieldset class="form-group">
    <label for="nombre">Nombre</label>
      <input type="text"
              class="form-control"
              id="nombre"
              formControlName="nombre">
      <div *ngIf="!formulario.controls['nombre'].valid && 
                  formulario.controls['nombre'].touched">
        <div class="alert alert-danger" 
              *ngIf="formulario.controls['nombre'].errors['required']">
          El campo es requerido.
        </div>
        <div class="alert alert-danger" 
              *ngIf="formulario.controls['nombre'].errors['pattern']">
          El campo debe ser mínimo de 4 caracteres.
        </div>
      </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="correo">Correo Electrónico</label>
      <input type="email"
              class="form-control"
              id="correoElectronico"
              formControlName="correo">
  </fieldset>

  <button type="submit" 
          class="btn btn-primary" [disabled]="!formulario.valid">Enviar</button>
</form>