
   <div [style.padding]="pading?40:0">
    <h3>{{titulo}}</h3>
        {{titulo}} <br>
        <div *ngIf="listaEstudiantes().length > 0">
        <ul>
            <li *ngFor="let estudiante of listaEstudiantes()">
              <span (click)="ClicEstudiante($event)"> 
                 {{estudiante}}
            </span>
            </li>
        </ul>
    </div>
    <br>
    <button (click)="alerta()">Test</button>
    <input type="text" [(ngModel)]="titulo"/>
    <br>
        <button (click)="titulo=''">Test</button>
        <input type="text" [value]="titulo" (input)=cambiar($event)/>
    <br>
    <img src="{{imagenUR}}" [class.img-rounded]="redondeada" />
    <br>
    
        <ul>
            <li *ngFor="let estudiante of estudiantes">
                {{estudiante}}
            </li>
        </ul>
    
    <br>
    <ul>
    <li *ngFor="let materias of listaMaterias()">
        {{materias}}
    </li>
    
</ul>
<br>
    <ul>
        <li *ngFor="let maestro of listaMaestros()">         
        {{maestro}} </li>
    </ul>
</div>
<div *ngIf="listaEstudiantes().length==0">
    <span>No hay ningun estudiante</span>
</div>