<form (ngSubmit)="enviarFormulario(formulario)" #formulario="ngForm">
    <fieldset class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text"
               class="form-control"
               id="nombre"
               ngModel 
               name="nombre"
               #nombre="ngModel"
               minlength="5"
               required>
               <div *ngIf="nombre.touched && nombre.errors">

                    <div class="alert alert-warning"
                     *ngIf="!nombre.errors.required">
                        Es necesario ingresar nombre de Usuario
                    </div>
                    <div class="alert alert-warning"
                     *ngIf="nombre.errors.minlength">
                       El número mínimo de caracteres es 5
                     </div>
               </div>
    
    </fieldset>
    <fieldset class="form-group">
        <label for="correo">Correo Electrónico</label>
        <input type="email"
               class="form-control"
               id="correoElectronico"
               ngModel 
               name="correo"
               #correo="ngModel"
               required>
     <div class="alert alert-warning" *ngIf="!correo.valid && correo.touched">
        Es necesario ingresar correo electrónico
     </div>
    </fieldset>
    <button type="submit"
            class="btn btn-primary">Enviar
    </button>
</form>